body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #F5F5DC; 
    color: #333333;
    margin: 0;
}

header h1, header h2 {
    color: #333333;
}

h2 {
    color: #FF6F61;
}

nav {
    background-color: #E0D8C0;
    padding: 10px;
}

#menu {
    list-style-type: none;
    padding: 0;
    display: none;
}

#menu li {
    display: inline-block;
    margin: 0 10px;
}

#menu a {
    text-decoration: none;
    color: #333333;
    cursor: pointer;
}

#menu-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333333;
}

#exercise1, #exercise2 {
    display: none;
    margin-top: 20px;
    background-color: #E0D8C0;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: 20px auto;
}

#exercise1 {
    display: block;
}

#transportImage img {
    max-width: 100px;
    margin-top: 10px;
}

button {
    background-color: #FF6F61;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    font-size: 14px;
}

button:hover {
    background-color: #E2584A;
}

#heart-container {
    margin: 20px auto;
    width: 60px;
    height: 60px;
}

#heart {
    width: 60px;
    height: 54px;
    background-color: white;
    position: relative;
    transform: rotate(-45deg);
    margin: 10px auto;
}

#heart:before, #heart:after {
    content: "";
    width: 60px;
    height: 54px;
    background-color: inherit;
    border-radius: 50%;
    position: absolute;
}

#heart:before {
    top: -30px;
    left: 0;
}

#heart:after {
    left: 30px;
    top: 0;
}

footer {
    background-color: #E0D8C0;
    padding: 10px;
    margin-top: 20px;
    border-top: 1px solid #FF6F61;
}

footer p {
    margin: 0;
    color: #333333;
}

footer a {
    color: #FF6F61;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
